*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor_mensaje {
    width: 200px;
    height: 70px;
    background-color: rgba(191, 202, 211, 0.548);
    margin-top: 10px;
    margin-left: 200px;
    border: solid 1px rgba(157, 167, 175, 0.548);
    border-radius: 3px;
}

