* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hijo {
    width: 2000px;
    height: 200px;
}

.image {
    
}